* {
    margin: 0;
    padding: 0;
}

body {
    background: #CFCECD;
}

.lists {
    font-family: Courier;
    color: purple;
    font-size: 26px;
    text-decoration: none;
    list-style: none;
}

.doc {
    margin: 20px;
    padding: 10px;
    background-color:#F4CABC;
    border: 1px solid darkgray;
    border-radius: 10px;
}